@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:100,400');

body {
	background: var(--background);
	color: var(--text-color);
	font-family: 'Roboto Mono', monospace;
}

a {
	/* Stylistic stuff */
	color: var(--link-color);
	font-size: 18pt;
	text-decoration: none;
}

a:hover {
	/* Stylistic stuff */
	color: var(--link-hover-color);
}

*::selection {
	/* Stylistic stuff */
	background: var(--selection-color);
}



#header {
	/* Spatial styling */
	padding: 4pt;
	padding-top: 3pt;
	padding-bottom: 3pt;

	/* Layout styling */
	display: grid;
	grid-template-columns: min-content 1fr;
	
	/* Stylistic stuff */
	background: var(--header-background);
}



#header a {color: var(--header-link-color); font-size: 14pt}
#header a:hover {color: var(--header-link-hover-color)}
#header .logo {text-align: left}
#header .controls {text-align: right}

#header .controls .separate {
	border-left-color: var(--header-link-color);
	border-left-style: solid;
	border-left-width: 1px;
}

#container {
	/* Spatial styling */
	height: max-content;
	padding-bottom: 6px;

	/* Stylistic stuff */
	background: var(--container-background);

	/* Transition stuff */
	transition: 0.6s border-radius cubic-bezier(0.47, 1.64, 0.41, 0.8);

	/* Text styling*/
	text-align: center;
}

#container .prev-action {
	/* Spatial styling */
	margin-bottom: 6pt;

	/* Text styling*/
	color: var(--header-link-color);
	font-size: 14pt;
}

#footer, #footer a {
	/* Spatial styling */
	width: auto;
	height: min-content;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10pt;
	margin-bottom: 5pt;
	user-select: none;
	
	/* Stylistic stuff */
	color: var(--footer-color);

	/* Text styling*/
	font-size: 14pt;
	text-align: center;
	line-height: 22pt;
}

#footer img {
	height: 16pt;
	vertical-align: top;
}


.caption {
	/* Spatial styling */
	width: 500px;
	padding: 4pt;
	margin: auto;
	margin-top: 2px;

	/* Stylistic stuff */
	background: var(--caption-background);
	border-radius: 3px;

	/* Text styling */
	text-align: justify;
}


.next-button {margin: auto};
.next-button {margin-bottom: 10pt};
#container .panel:nth-child(2) {margin-top: 0}
.panel {margin-top: 2pt}



@media only screen and (max-width: 550px) {
	.caption {width: 90%}
}

@media only screen and (max-width: 350px) {
	#header a {font-size: 12pt}
}

/* Tiny Styling */
@media only screen and (max-width: 525px) {
	#header .controls {
		width: max-content;
		margin-left: auto;
	}
}
